#modal-aboutUs.modal.hide
  .modal-header
    %button.close{:type => "button", :data => {:dismiss => "modal"}} X
    %h3
      About ReviewRight
      %sup TM
  .modal-body
    %p We at ReviewLess aim to help the best document reviewers find good work. We created ReviewRight as one way to identify those who excel at document review. It is a "work sampling" environment that measures the accuracy of a document review attorney.
    %p Today, a corporation or law firm looking for document review attorneys has no way to evaluate reviewers for accuracy or expertise short of hiring them. This inflates costs, depresses reviewer pay, and hurts the document reviewer profession. ReviewRight will right these wrongs.
    %p If you are a document review candidate, it is to your advantage to have a job application on file with ReviewLess, and to take the ReviewRight Assessment. Include as much detail as possible in your application, and keep it up to date. As projects become available, we will interview you and share your application and assessment results with potential employers to help you find great work as a document reviewer. (Only your document review experience, education history, and assessment results are shared with employers. Other application details are used by ReviewLess internally for interview purposes.)