#modal-aboutUs.modal.hide
  .modal-header
    %button.close{:type => "button", :data => {:dismiss => "modal"}} X
    %h3
      About Review Less
  .modal-body
    %p Pittsburgh is one of the international centers for computer learning and artificial intelligence and a natural location for Review Less<sup>SM</sup> to be headquartered.  We have extensive relationships within the Carnegie Mellon University community and leverage these relationships to enable us to better understand the technology options for making review more efficient enabling corporations to Review Less<sup>SM</sup> and Get More relevant ESI for their effort.
    %p Examples of Pittsburgh's stature in the world community of artificial intelligence are many.  The only Nobel Peace Prize winner for Decision Learning, the building blocks for Artificial Intelligence was Herb Simon, who spent most of his professional career teaching at what is now Carnegie Mellon University where he worked with another prestigious artificial intelligence pioneer Allen Newell.  Carnegie Mellon University is frequently ranked as one of the top Artificial Intelligence programs in the United States and the world.  The National Science Foundation which sponsors the prestigious TREC program that has provided the legal community with many of the best best bench mark examples of how to improve search and retrieval, also consistently provides Carnegie Mellon University with either the most or 2nd most grants of any other school for Information Retrieval research from 2006 - 2009.  Over $400 million has been donated in this time frame.  
    %p Pittsburgh just hosted the DESI IV section of the ICAIL conference, the leading technical workshop on electronic discovery which was organized by Jason Baron, Laura Ellsworth, David Lewis, Deba Logan and Douglas Oard.  The first three host cities of this unique event were Palo Alto, CA, London, England and Barcelona, Spain.   
    %p There are also a number of world famous computer scientists who currently work in Pittsburgh including:
    %ul
      %li 
        Eric Nyberg from the Language Technologies Institute, School of Computer Science at Carnegie Mellon University and was one of the project leaders on the team which developed IBM's Watson computer.
      %li
        Professor Jaime Carbonell who is the Allen Newell Professor of Computer Science and the director of the Language Technologies Institute at Carnegie Mellon University.
      %li
        Dr. Kevin Ashley holds interdisciplinary appointments as a faculty member of the Graduate Program in Intelligent Systems at the University of Pittsburgh, a Senior Scientist at the Learning Research and Development Center, a Professor of Law, and Adjunct Professor of Computer Science where he focuses on research on artificial intelligence and information retrieval in areas that impact law.
    %p So locating Review Less<sup>SM</sup> in Pittsburgh is a natural decision and one which we believe that even Watson, the super computer would agree with.