#modal-help.modal.hide
  .modal-header
    %button.close{:type => "button", :data => {:dismiss => "modal"}} X
    %h3
      ReviewRight
      %sup TM
      Help
  .modal-body
    %p
      Technology is why there are "technical difficulties" in this world. If you experience technical difficulties with the ReviewRight assessment, please
      =link_to "contact us.", contact_path
      To help us improve ReviewRight, let us know what browser and device you are using (e.g., Mozilla Firefox version 14.0.1 on a Windows 7 PC, or Safari on iPad 3 under iOS version 5.1.1). In addition, error messages, screen shots or detailed explanations of the problem you encountered are greatly appreciated.
    %p Also let us know if technical difficulties prevented you from completing the ReviewRight assessment. ReviewLess may at their exclusive discretion erase the results of your test, or allow you to take an additional test.