.container
  .row
    .span9.offset3.page-text
      %h1 Predictive Coding Execution
      %br/
      %p Review Less has studied predictive coding and workflows for years.  We recognize that sometimes clients want professional advice on both tools and how to use them.  While we have identified a number of tools which we have worked with to solve different search challenges with technology, we recognize there are many good tools in the marketplace.  Our goal is not necessarily to sell you our tool kit, but to help design effective workflows around your projects needs, which might include working with the existing tools used by an outside law firm, software already purchased by the client, or recommending tools based on our experiences.  We believe there are different tools and different workflows for different ESI search problems.   We are comfortable using seed sets, training a predictive coding approach using random sampling, and using early case assessment tools which when partnered with exceptional review attorneys enable a party to answer critical questions in days not months.
