%section
  .row
    .small-12.columns
      %h1 Predictive Coding Execution
      %br
      %p.legible
        When Review Less was formed in 2011, we knew that in order for document review cost, time, and quality to improve, 
        technology had to be used more frequently.   We had a background as innovators in document review when contract attorneys first became recognized 
        as a cost-effective strategy for e-discovery. In 2002, we staffed one of the largest examples of a Midwest push review in the country, 
        with over 200 contract attorneys on a case that lasted over 5 years from Pittsburgh, Pennsylvania.  
      %p.legible
        Most clients can’t afford this much discovery, so we embarked on an aggressive education campaign to learn all of the different technologies in the 
        Predictive Coding world.  
      %p.legible
        Our research and consulting work on predictive coding or TAR culminated in 2012 with the successful Global Aerospace case.  
        We litigated against a highly respected law firm and won the right to use predictive coding before there were any successful cases using the technology.  
        We then did a production in 120 days based on a 5,000-document review from a collection of 2 million records.  
        The total number of responsive documents which had to be reviewed after we trained the predictive coding was less than 200,000 -- or 10 % of the collection.  
      %p.legible
        This cull rate of 90% and recall rate of 81% were great results, and fully delivered on the promise of predictive coding. 
        This case was subsequently covered favorably in two articles in the Wall Street Journal.  
        Click 
        = link_to 'here', contact_path
        if you are Stuck in TAR, suffering from too much unproductive, perpetual motion practice!
