<% provide(:title, t('contact_us')) %>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="content-block">
        <div><h2>Contact Review Less:</h2></div>
        <div class="bd">
          <p class="legible-centered">
            Review Less, LLC<br>
            One Oxford Centre, Suite 4300<br>
            301 Grant Street<br>
            Pittsburgh, PA 15219<br>
            Attn: Administrator<br>
            Email: <%= mail_to "info@reviewless.com" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>