%section
  .row
    .small-12.columns
      %h2 Education and Consulting
      %p The three pillars of Review Less education are free, local, and cutting edge.
      %p
        %strong FREE:
        The free topics are found on podcasts engaging industry experts on topics from a library of over 200 podcasts hosted at
        = link_to 'ESIBytes.com', 'http://www.ESIBytes.com', :target => "_blank"
        With over 400,000 downloads, we are known throughout the world. Why pay for webinar content when you can download it for free and cut out the middleman?
        Most of the prominent speakers from the largest programs have done ESIBytes programs.
      %p
        %strong LOCAL and FREE:
        Friends of E-Discovery is the brainchild of Tom Allman and Pete Pepiton, who started a group in Cincinnati.  Karl Schieneman became a quick convert and
        opened the Pittsburgh chapter, followed by supporting chapters in Cleveland, Indianapolis, Nashville, Minneapolis and San Francisco.
        Yes it’s great to spend thousands of dollars to visit the beltway and hear the same industry pundits talk.  But have you ever had that empty post-CLE
        feeling that the experts have disappeared after you return? Local benchmarking and frequent meetings with your local community of e-discovery experts
        push the field forward among your neighbors of e-discovery experts.  Check out
        = link_to 'www.friendsofediscovery.com', 'http://www.friendsofediscovery.com', :target => "_blank"
        for more information.
      %p
        %strong TAKING IT ON THE ROAD:
        We have created our own material of top rated and vendor neutral TAR programs and also spoken at national events when invited.
        Because Review Less clients are national, we are happy to present at events when they can fit with our schedule.
        -#
          Here is a calendar of past speaking events:
          %center
            %iframe{:src => "https://www.google.com/calendar/embed?showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&height=600&wkst=1&bgcolor=%23FFFFFF&src=karl50145%40gmail.com&color=%23182C57&ctz=America%2FNew_York", :style => "border-width:0; width:725px; height:600px; frameborder:0; scrolling:no"}
      %p
        We enjoy writing, but it interferes with our ability to help reviewers, so we no longer are active bloggers.  However, we have an archive of past blog 
        posts which received a good deal of attention when we were blogging.  We called the blog
        = link_to 'DocReviewMD', 'http://DocReviewMD.com', :target => "_blank"
        which aptly describes how Review Less is attempting to cure the pain of document review.
        Feel free to peruse our prior posts on technology and review.