.container
  .row
    .span9.offset3.page-text
      %h1 Education and Consulting
      %br/
      %p.legible Back in 2010, the barrier to using predictive coding was defensibility.  What would judges say if lawyers used these tools to find ESI in a case?  We have been leaders in judicial technology education since that time to understand the validity of those concerns.  In April 2012, we had the opportunity to leverage this experience and assist a client in making the first defensibility argument to a court that enabled our client to use predictive coding over the objection of the other party.  This case, <span class='underlined'>Global Aerospace v. Landow Aviation</span>, showed our understanding from training judges was correct.  That a court would accept the data available on costly linear review and academic statistics about the efficiency of predictive coding approaches and allow predictive coding.  As a result, our clients were able to hit all deadlines and moved completely away from guessing at key words to find potentially responsive documents.  We didn't get all the national predictive coding headlines in Global Aerospace, but we were able to successfully complete the project within the court imposed deadlines in a high profile case achieving dramatic client savings.
      .span4
        = image_tag '/assets/paul_neale.JPG', :size => '350x263', :alt => 'Karl Schieneman, Paul Neale', :title => "Two predictive coding pioneers, Paul Neale the Plaintiff's predictive coding expert in Da Silva Moore and Karl Schieneman, the expert for using predictive coding in Global Aerospace on a CLE panel."
        -#&nbsp; &nbsp; &nbsp; &nbsp;
      .span4
        = image_tag '/assets/carmel_debate.JPG', :size => '350x263', :alt => 'Carmel Valley E-Discovery Retreat', :title => 'Carmel Valley E-Discovery Retreat'
      .span4
        %p.italic Two predictive coding pioneers, Paul Neale the Plaintiff's predictive coding expert in Da Silva Moore and Karl Schieneman, the expert for using predictive coding in Global Aerospace on a CLE panel
      .span4
        %p.italic From left to right: Tom Gricks, David Lewis, Maura Grossman, Karl Schieneman, Herb Roitblat and Bennett Borden following a fantastic CLE program debating predictive coding workflows
      %p.legible{:style => 'clear:both'}== Today we have identified education of outside law firms and companies as the greatest barrier to widespread adoption of predictive coding. We now offer vendor neutral predictive coding training to the legal community on how to move beyond simple linear review steps into more complex predictive coding workflows and have a partnering relationship with the #{link_to 'EDiscovery Journal', 'http://ediscoveryjournal.com/'} to share independent predictive coding market research we have helped them compile across vendors with clients seeking additional vendor neutral education about predictive coding.       
      %p.legible== #{link_to 'Contact Review Less', contact_path} to learn more about our CLE or educational presentations, to engage us to consult with you about workflows and tools, or to serve as a Special Master or neutral to assist in resolving a predictive coding dispute.
      %h1 Calendar of Events
      %br/
      %p.legible We actively speak at neutral events such as CLE programs, events we facilitate, and we occasionally issue press releases.  Here is a calendar of events and press releases to understand more about our education content.  
      -#calendar (could possibly integrate fullCalendar, but this might be easier for now)
      %center
        %iframe{:src => "https://www.google.com/calendar/embed?showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&height=600&wkst=1&bgcolor=%23FFFFFF&src=karl50145%40gmail.com&color=%23182C57&ctz=America%2FNew_York", :style => "border-width:0; width:725px; height:600px; frameborder:0; scrolling:no"}
