.container
  .row
    .span9.offset3.page-text
      %h1 Education and Consulting
      %br/
      %p Back in 2010, the barrier to using predictive coding was defensibility.  What would judges say if lawyers used these tools to find ESI in a case?  We have been leaders in judicial technology education since that time to understand the validity of those concerns.  In April 2012, we had the opportunity to leverage this experience and assist a client in making the first defensibility argument to a court that enabled our client to use predictive coding over the objection of the other party.  This case, <span class='underlined'>Global Aerospace v. Landow Aviation</span>, showed our understanding from training judges was correct.  That a court would accept the data available on costly linear review and academic statistics about the efficiency of predictive coding approaches and allow predictive coding.  As a result, our clients were able to hit all deadlines and moved completely away from guessing at key words to find potentially responsive documents.  We didn't get all the national predictive coding headlines in Global Aerospace, but we were able to successfully complete the project within the court imposed deadlines in a high profile case achieving dramatic client savings.
      = image_tag '/assets/paul_neale.JPG', :size => '400x300', :alt => 'Bobbi Basille, Karl Schieneman, Paul Neale', :title => 'Bobbi Basille, Renew Data; Karl Schieneman, Review Less; Paul Neale, President of Doar Litigation Consulting'
      &nbsp; &nbsp; &nbsp; &nbsp;
      = image_tag '/assets/carmel_debate.JPG', :size => '400x300', :alt => 'Carmel Valley E-Discovery Retreat', :title => 'Carmel Valley E-Discovery Retreat'
      %br/
      %br/
      %p== Today we have identified education of outside law firms and companies as the greatest barrier to widespread adoption of predictive coding. We now offer vendor neutral predictive coding training to the legal community on how to move beyond simple linear review steps into more complex predictive coding workflows and have a partnering relationship with the #{link_to 'EDiscovery Journal', 'http://ediscoveryjournal.com/'} to share independent predictive coding market research we have helped them compile across vendors with clients seeking additional vendor neutral education about predictive coding.       
      %p== #{link_to 'Contact Review Less', contact_path} to learn more about our CLE or educational presentations, to engage us to consult with you about workflows and tools, or to serve as a Special Master or neutral to assist in resolving a predictive coding dispute.
