.container
  .row
    .span3
      = render :partial => 'shared/bio_links'
    .span9.page-text
      = image_tag '/assets/ilya.png'
      %br/
      %h4 Ilya Goldin, Ph. D.
      %em Data Scientist
      %br/
      = mail_to 'goldin@reviewless.com'
      %br/
      PhD in Intelligent Systems, University of Pittsburgh, 2011
      %br/
      %br/
      %p Ilya has experience in both academia and industry. His dissertation explored effective ways of using computer technology in legal education, and developed novel statistical models of information exchange in a student-to-student social network. Ilya has also worked for several years as consultant, researcher, and developer in a variety of industry settings, including projects in data mining and e-discovery.
      %p At Review Less<sup>SM</sup>, Ilya works on design and development of effective e-discovery workflows, and continues development of the Review Right test.        