.container
  .row
    .span3
      = render :partial => 'shared/bio_links'
    .span9.page-text
      %h4 Mark Frentzel, CPA
      %em Director of Metrics
      %br/
      = mail_to 'mrf@reviewless.com'
      %br/
      MBA in Finance, NYU, 1993
      %br/
      BA in Mathematics and Economics, 1987
      %br/
      %br/
      %p Mark has 20 years of diverse financial accounting experience.  After graduating from Hamilton College in 1987, he joined the Big 8 Accounting Firm Touche Ross as an auditor.  After two years he moved to the private sector and served for three years as an internal auditor with The Turner Corporation.  Leaving the audit side, Mark continued his career progression with a series of Accounting Manager roles, most notably with an eight year stint with Deutsche Bank serving as the Business Area Controller of Human Resources.  Most recently, Mark was the Controller of IBHL, Ltd., the US Subsidiary of a Thailand based beverage company.
      %p Mark provides financial analysis and metric creation skills for Review Less<sup>SM</sup> and their clients.  He draws on his 20 years of accounting experience to create useful metrics for analyzing the efficiency of e-discovery projects and how to create more value from electronic discovery spending.  In the relatively new field of electronic discovery, there is shortage of professionals trained to deliver clients metrics which enable them to make intelligent decisions about electronic discovery.  Review Less<sup>SM</sup> as part of its engagements will provide metrics that enable clients to better understand how they are spending and can offer the ability to analyze what they are spending and whether their spending is delivering value.
      %p Currently, Mr. Frentzel is married, living in New York City with his wife of nine years.
        