.container
  .row
    .span3
      = render :partial => 'shared/bio_links'
    .span9.page-text
      = image_tag '/assets/olga.png'
      %br/
      %em Director of Marketing
      %br/
      = mail_to 'ors@reviewless.com'
      %br/
      %br/
      %p Olga has 21 years of sales and marketing experience at a Kraft Foods, a Fortune 100 consumer products company.  She was promoted to a half dozen markets around the country and received a total of eight promotions over her career including managing a sales team.  In her last position, she was promoted to Information Management where she was the only member of the team without an advanced technical degree.  Despite this, Olga was awarded the top performer in that position for each year she was in that position.   She was also consistently rated in the top 10 percent of the company based on sales performance over her entire career winning numerous awards. 
      %p Olga has also held marketing positions with several Internet startup companies, Streaming Placements and Making Law Easy.  Olga's focus at Review LessSM will be on electronic discovery trend analysis and identifying new tools which stream line electronic discovery.  She also leads the online marketing and recruiting efforts of Review LessSM. 
      %p Olga has a B.A. degree in Marketing and Spanish graduating Magna Cum Laude from Benedictine University.
      