.container
  .row
    .span9.offset3.page-text
      %h1 Public Relations and Speaking Engagements
      %br/
      %p As the founder and moderator of ESIBytes.com, the largest FREE collection of E-Discovery information, we are proud to offer a significant library of cutting edge insights offered by industry experts.  We have  over 200 shows recorded since March 2009 with over 100,000 downloads.  Ground breaking shows on predictive coding, and topical shows on interesting e-discovery issues include the following shows.  
      %p Past guests include ______________________________________.
