%section
  .row
    .small-12.columns
      %h1 Calendar of Events
      %br/
      %p We actively speak at neutral events such as CLE programs, events we facilitate, and we occasionally issue press releases.  Here is a calendar of events and press releases to understand more about our education content.  
      #calendar
