.container
  .row
    .span9.offset3.page-text
      %h1 Public Relations and Speaking Engagements
      %br/
      %p We actively speak at neutral events such as CLE programs, events we facilitate, and we occasionally issue press releases.  Here is a calendar of events and press releases to understand more about our education content.  
