.container
  .row
    .span3
      = render :partial => 'shared/bio_links'
    .span9.page-text
      %h1 Document Review Innovation
      %br/
      %p The biggest challenge in review is not finding lawyers to do the review. There are an abundance of attorneys for document review available at law firms, for temporary assignments, or offshore. The challenge is determining whether an attorney is suitable and skilled in doing document review and then training and managing them. We do all of this at an industry leading price point of $5 an hour markup for most review attorneys.
      = image_tag '/assets/bottled_water.gif', :size => '400x290'   
      %br/   
      %p If contract attorneys were like bottled water, you would wonder why some cost much more than others. What is bottled in France or on an far off island and what is created just by just re-filtering tap water. From our perspective, the fancy brands today in document review are closer to tap water than exotic because the filtering is flawed. And our price point based on using a $5 hourly mark up for most of the contract attorneys we employ is fairer and lower because we have a process for identifying attorneys. We can create more value with our process by creating useful metrics for our clients on accuracy and speed before a project starts. Yet it is also because of these processes, that we are able to price our attorneys for less than other services without underpaying the attorneys. Other pricing advantages occur because we are not publicly traded and pressured to report growing quarterly earnings, do not over compensate our recruiters to guess at the quality of candidates, there are no layers of management and sales teams requiring a cut of the hourly fee, and our overhead in general is kept to a minimum.
      %p== You can't distinguish super star contract attorneys from average just based on price when one recruiting approach uses technology and testing and the other approach relies on interviewing, guessing and hiring and firing till they get it right. We are familiar with both approaches and the flaws in the industry which is why we created #{link_to 'ReviewRight', 'http://reviewright.com', :target => '_blank'}.
      %p== #{link_to 'Contact', 'http://reviewright.com/contact', :target => '_blank'} our subsidiary Review Right to learn more about testing review attorneys and creating better document review teams. Review Right also offers review space, review training and review communication tools for document review teams across the United States.
