.container
  .row
    .span3
      = render :partial => 'shared/bio_links'
    .span9.page-text
      %h1 Document Review Team
      %br/
      %p The biggest challenge in review is not finding lawyers to do the review.  There are an abundance of attorneys available at law firms, for temporary assignments, or offshore.  The challenge is determining whether an attorney is suitable and skilled in doing document review and then training and managing them.  
      %p Review skill is not measurable from a resume and hard to verify in an interview.  Reference checking is useful but hard to access the project managers who might really know if a reviewer does an accurate and timely job with document review work.  Yet this is how virtually every document review attorney is selected for assignments.
      %p== The most accurate and unbiased way to assess a reviewer's ability to do document review work is to actually test the candidate for their ability before putting them on a project.  #{link_to "Review Right", "http://reviewright.com"} was created with this objective in mind and has been used successfully in legal markets across the United States.  Testing reduces the costs for recruiting, the costs of putting several poor reviewers on a project and having to fix their work, and is a step towards making review a professional legal skill viewed as important to legal organizations as writing, oral advocacy, and substantive knowledge of a particular area of law.  It also provides a foundation to defend predictive coding results.
      %p By creating a process of technology assisted recruiting, Review Right is able to find and employ contract attorneys for a gross margin of only $4.50 an hour above the payment to the reviewing attorneys in most markets.  We are not publicly traded, we do not over compensate our recruiters, there are no layers of management requiring a cut of the fee, and overhead is kept to a minimum.  Our data driven approach also provides our clients with important metrics to defend predictive coding as expert witnesses in addition to cost savings and enhanced quality.
      %p== #{link_to "Contact", "http://reviewright.com/contact"} Review Right to learn more about testing review attorneys and creating better document review teams.  Review Right also offers pay rolling services for review teams, review space, review training and review communication tools for review teams across the United States.
      