%section
  .row
    .small-12.columns
      %h2 Document Review Innovation
      %p
        With 70% of e-discovery costs tied up in review, the focus in e-discovery has been searching for the elusive technological holy grail
        of reducing the crippling costs of document review work.  Solutions are neither as difficult as others make it seem, nor as simple as 
        lowering the hourly cost of reviewers.  You can save tremendous amounts of money and time simply by doing review right the first time.          
      %p 
        Low cost reviews in sweatshop environments typically result in much more expensive second pass reviews to clean up inconsistencies and mistakes 
        made during the first pass.  The key to doing it right is higher quality reviewers and paying close attention to communication.  
      %p
        The end goal is getting quality reviews done right the first time.  QC cannot be completely eliminated, but we have been able to reduce it by 80% 
        in some cases.  Improving review is the primary focus of Review Less.  We are committed to having document review recognized as a unique skill, 
        at which only a fraction of practicing lawyers are proficient.  
      %p
        If you are looking only at the bill rate, and your reviewer has a pulse and shows up at your review center, you are likely going to suffer from some sort 
        of review fatigue, which is an e-discovery medical condition usually experienced by clients and their insurance carriers.
      %p
        To see if you can get beyond Review Fatigue, take the short review runway test illustrated in the following:  
      %h3.subheader Case Study 1:  Trial Review
      %p
        Ask your typical body shop 
        if they can support trial counsel in a 14,000 document privilege review and do a high quality review in 3 ½ days, resulting in production and 2/3rds 
        cost savings?  With not enough runway to fix bad coding, few review shops can get this job done without playing "Russian Roulette discovery."  
        Our clients recognize our unmatched approach to screening candidates and identifying the cream of the crop of document review attorneys.  
        We can achieve results like these within several days of the inquiry, making us able to handle even small cases.  
      %p
        Click
        = link_to 'here', contact_path
        if you’d like to set up a web ex demonstration to hear the cure for Review Fatigue or read on for more case studies.  
        Contact 
        = mail_to 'kas@reviewless.com'
        for Review Information.
      %h3.subheader Case Study 2:  Building a Complete QC Team. 
      %p
        Ask your typical body shop if they can assemble a team of 20 MidWest based review attorneys, all with 
        substantial QC experience, and finish an 8 week project in 3 ½ weeks with minimal follow up QC required.    
        Can you find 20 exceptional reviewers out of the gate to start and end your project as your initial review team, 
        instead working to cull your review team down to the 20 best reviewers while the bad ones are coding on live documents? 
      %p 
        Our principals have been in the e-discovery world since 1998, and have staffed some of the largest cases in the country.  
        We were at the forefront of what today is called Midwest Sourcing.  As a value proposition this makes sense, but it suffers from the same issue as 
        Off Shore review.  The focus is on price, not quality.  Through intelligent sourcing and better workflow, there is no reason clients can’t have it 
        both ways and source talent instead of just sourcing price.  Do it right the first time as often as possible.  That is the Review Less way.  
      %p
        Click
        = link_to 'here', contact_path
        if you’d like more information on how we uniquely approach document review.