%h3= link_to 'Karl Schieneman', bio_path(:name => 'karl_schieneman')
%h3= link_to 'Olga Ruiz Schieneman', bio_path(:name => 'olga_schieneman')
%h3= link_to 'Mark Frentzel', bio_path(:name => 'mark_frentzel')
%h3= link_to 'Ilya Goldin', bio_path(:name => 'ilya_goldin')

