footer {
  border-top: 4px solid $black;
  padding-top: 1rem;
  img {
    margin-bottom: 0.5rem;
  }
  p {
    font-size: rem-calc(12);
    color: $base;
  }
  .button {
    color: $black;
    background: none;
    font-weight: bold;
    margin-right: 1rem;
    &:hover {
      color: darken($primary-color, 40%)
    }
  }
}