.top-bar-section ul li > a {
  font-weight: bold;
}
.white-header {
  @media only screen and (min-width: 64.063em) { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 2rem;
  }
  .top-bar {
    background: $white;
    .top-bar-section li a {
      background: $white;
    }
    .dropdown li a {
      text-transform: none;
    }
  }
  .top-bar-section .has-dropdown > a:after {
    border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
  }
  .top-bar-section .has-dropdown:hover > a:after {
    border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
  }
}