.intro {
  background: url('header-bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10rem 0 4rem;
  h2, h6, ul {
    color: darken($primary-color, 35%);
  }
  h2 span, h6 {
    font-weight: bold;
  }
  ul {
    list-style: none;
    li {
      margin-left: -1rem;
    }
    i {
      margin-right: 0.5rem;
    }
  }
  .button {
    border: 2px solid darken($primary-color, 25%);
    background: none;
    color: darken($primary-color, 35%);
    margin-right: 1rem;
    &:hover {
      background: darken($primary-color, 25%);
      color: white;
    }
  }
}
h4 {
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.fancy {
  overflow: hidden;
  text-align: center;
  span {
    position: relative;
    &:before, &:after {
      $linesHeight: 7px;
      content: "";
      position: absolute;
      border-bottom: 1px solid $iron;
      border-top: 1px solid $iron;
      width: 100%;
      height: $linesHeight;
      top: 50%;
      margin-top: floor(-$linesHeight / 2);
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}