%footer
  .container
    .row
      .span8
        %p
          ReviewLess
          %sup SM
          One Oxford Centre, 301 Grant Street, Suite 4300, Pittsburgh, PA 15219 • (412) 486-8606
      %ul.unstyled.footer-nav.pull-right
        %li
          %a{:href => "#modal-aboutUs", :data => {:toggle => "modal"}}
            About
        %li
          %a{:href => "#modal-help", :data => {:toggle => "modal"}}
            Help
        %li
          %a{:href => "/contact"} Contact